= render 'upsert_form',
         name: 'New Service',
         service: nil,
         machine_id: machine_id,
         identity: ServiceIdentity.new,
         web_app_config: WebApplicationConfig.new,
         show_ssh_service_warning: show_ssh_service_warning
