%h5 Service Identity (Optional)
%input{ type: 'hidden', name: 'service[service_identity_attributes][id]', value: identity.id }
.form-group
  %label.control-label.col-md-3 Username
  .col-md-8
    %input.form-control{ type: 'text', name: 'service[service_identity_attributes][username]', value: identity.username }
.form-group
  %label.control-label.col-md-3 Password
  .col-md-8
    %input.form-control{ type: 'password', name: 'service[service_identity_attributes][password]', value: identity.password }
