.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
        %span{ 'aria-hidden' => 'true' } &times;
      %h4.modal-title= name
    - if name.start_with? 'New'
      %add-service-wizard{ machine_id: machine_id, application_type_options: Service.application_type_options.to_json }
    .modal-body#service-form-container{ class: ('hide' if name.start_with?('New')) }
      - if name.start_with? 'New'
        %p
          %a.toggle-new-service-wizard{ href: '#' } Switch back to the wizard.
        = javascript_pack_tag 'add_new_service'
        = stylesheet_pack_tag 'add_new_service'
      - if show_ssh_service_warning
        %input{ type: :hidden, id: 'default_service_type', value: 'ssh' }
        .callout.callout-warning
          You have assigned an SSH Key Pair, but no SSH Services are registered for this machine.
          Would you like to register one?
      - else
        %input{ type: :hidden, id: 'default_service_type', value: 'generic' }
      - post_path = service ? machine_service_path(machine_id, service) : machine_services_path(machine_id)
      - http_method = service ? 'put' : 'post'
      = form_tag post_path, method: http_method, id: 'service-form', class: 'form-horizontal' do
        .form-group
          %label.control-label.col-md-3 Name
          .col-md-8
            - service_name = service ? service.name : nil
            %input.form-control{ type: 'text', name: 'service[name]', value: service_name }
        .form-group
          %label.control-label.col-md-3 Description
          .col-md-8
            - service_description = service ? service.description : nil
            %input.form-control{ type: 'text', name: 'service[description]', value: service_description }
        .form-group
          %label.control-label.col-md-3 TCP/UDP
          .col-md-8
            %select.form-control#port-type{ name: 'service[port_type]' }
              - service_port_type = service ? service.port_type : 'tcp'
              - %w(tcp udp).each do |type|
                %option{ value: type, selected: type == service_port_type }= type.upcase
        .form-group
          %label.control-label.col-md-3 Port
          .col-md-8
            - service_port = service ? service.port : nil
            %input.form-control#port-number{ type: 'text', name: 'service[port]', value: service_port }
        .form-group
          %label.control-label.col-md-3 Service Type
          .col-md-8
            - service_type = service ? service.type : 'GenericService'
            - if service
              %input{ type: 'hidden', name: 'service[type]', value: service_type }
            %select.form-control#service-type{ name: 'service[type]' }
              - %w(GenericService SshService WebApplicationService).each do |svc|
                %option{ value: svc, selected: svc == service_type }= svc_type_display_name(svc)
        .form-group
          %label.control-label.col-md-3 Encryption
          .col-md-8
            %select.form-control#encryption-menu{ name: 'service[encryption_type]' }
              - service_encryption_type = service ? service.encryption_type : nil
              - %w(cleartext ssl ssh).each do |enc_type|
                %option{ value: enc_type, selected: enc_type == service_encryption_type }= enc_type_display_name(enc_type)
        .form-group
          %label.control-label.col-md-3
            Application Type
            = render 'application/tooltip',
                     message: 'If your service cannot be found, do not specify it. Specialized tests will only run for some services.'
          .col-md-8
            = render 'application_type_options'
            %input.form-control#application-port{ type: :hidden,
                                                     name: 'service[application_type_attributes][port]',
                                                     value: '' }
            %input.form-control#application-protocol{ type: :hidden,
                                                         name: 'service[application_type_attributes][transport_protocol]',
                                                         value: '' }
        .form-group
          %label.control-label.col-md-3 Allow Brute Force
          .col-md-8
            %select.form-control{ name: 'service[allow_brute_force]' }
              - service_allow_brute_force = service ? service.allow_brute_force : nil
              %option{ value: 'false', selected: service_allow_brute_force.to_s == 'false' } No
              %option{ value: 'true', selected: service_allow_brute_force.to_s == 'true' } Yes
        %hr
        .service-identity-section
          = render 'service_identity_form', identity: identity
        .web-app-config-section
          %hr
          = render 'web_application_config_form', web_app_config: web_app_config
        .form-group
          .col-md-3.col-md-offset-3
            %button.btn.btn-primary#save-service{ type: 'submit' } Save
