:ruby
  app_type = @service.application_type
  port = app_type.port unless app_type.nil?
  protocol = app_type.transport_protocol unless app_type.nil?
  service_port = @service.port
:plain
  $('#service-form-modal.modal.fade').html("#{j render(partial: 'edit_form', locals: { service: @service, machine_id: @machine_id, identity: @service_identity, web_app_config: @web_application_config })}")
  $('body').trigger({ type: 'upsert_form',
                      service_type: "#{@service.type}",
                      freeze_service_type: true,
                      service_port: "#{service_port}",
                      port: "#{port}",
                      protocol: "#{protocol}" })
