- content_for :sidebar do
  = render 'sidebar', org: @org, machine: @machine

- content_for :header_content do
  = render 'assessable/header', machine: @machine, large_title: 'Services'
  = render 'application/flash_messages'

- content_for :side_window_content do
  = render 'machines/machine_info', machine: @machine

- content_for :main_window_content do
  .modal.fade#service-form-modal
  .box.box-default
    .box-header.with-border
      %h3.box-title
        %i.fa.fa-gears
        Services
      .box-tools.pull-right
        %a.btn.btn-box-tool#add-service{ data: { remote: true }, href: new_machine_service_path, class: @machine.scheduled_service_discovery ? 'disabled' : '' }
          Add
        %a.btn.btn-box-tool#discover-services{ data: { remote: true, method: 'post' }, href: machine_service_discoveries_path(@machine), class: @machine.scheduled_service_discovery ? 'disabled' : '' }
          Discover
        .btn.btn-box-tool
          = render 'tooltip', message: 'Registered services for the active machine. Without registered or discovered services, most security tests will not run.'
    .box-body
      - if @service_discovery&.error_message.present?
        %p
          The latest service discovery attempt for this machine initiated at
          %i= format_timestamp(@service_discovery.created_at)
          failed with the following error:
          %strong= @service_discovery.error_message
          If you've already added services to this machine you may disregard this message.
      - if @services.length.zero?
        %h4.text-center
          No services have been added to this machine.
        %p.text-center
          %a.click-here-link{ data: { remote: true }, href: new_machine_service_path, class: @machine.scheduled_service_discovery ? 'disabled' : '' }
            Click Here
          to add a service.
        %p.text-center
          %a.click-here-link{ data: { remote: true, method: 'post' }, href: machine_service_discoveries_path(@machine), class: @machine.scheduled_service_discovery ? 'disabled' : '' }
            Click Here
          run service discovery.
      - else
        %table.table
          %thead
            %tr
              %th.col-md-2 Name
              %th.text-center.col-md-2 Description
              %th.text-center.col-md-1 Service Type
              %th.text-center.col-md-1 Port
              %th.text-center.col-md-1 TCP/UDP
              %th.text-center.col-md-1 Encrypted
              %th.text-center.col-md-1 Allow Brute Force
              %th.text-center.col-md-1 Actions
          %tbody
            - @services.each do |service|
              %tr{ 'data-service-id' => service.id }
                - service_display_info = Service.service_display_info(service)
                %td= service.name
                %td.text-center= service.description
                %td.text-center
                  - if service.application_display_name
                    .label.label-default{ 'data-toggle' => 'tooltip', 'title' => service_display_info, 'data-placement' => 'right' }
                      = service.application_display_name
                %td.text-center= service.port
                %td.text-center= service.port_type.upcase
                %td.text-center= service.encryption_type
                %td.text-center
                  - icon = service.allow_brute_force ? 'fa-check' : 'fa-close'
                  %i.fa{ class: icon }
                %td.text-center
                  = link_to edit_machine_service_path(@machine, service), title: 'Edit Service', remote: true do
                    %i.fa.fa-edit.action-icon
                  - confirm_msg = 'Are you sure you want to remove this service?'
                  = link_to service, method: :delete, data: { confirm: confirm_msg }, class: 'delete-action', title: 'Delete Service', remote: true do
                    %i.fa.fa-close.action-icon
