:plain
  $('#service-form-modal.modal.fade').html(
    "#{j render(partial: 'new_form', locals: { machine_id: @machine_id, show_ssh_service_warning: @show_ssh_service_warning })}"
  )
  $('body').trigger({ type: 'upsert_form',
                      service_type: 'GenericService',
                      freeze_service_type: false,
                      service_port: null,
                      port: null,
                      protocol: null })
