- state = @service&.id ? 'Success' : 'Failure'
- klass = @service&.id ? 'success' : 'danger'
:plain
  Norad.alert("#{j(state)}", "#{j(@msg)}", "#{j(klass)}")

- if @service&.id
  :plain
    $('.machine-services').find('a.discovery-button').addClass('disabled')
    $('.machine-services').find('a.add-service-button').addClass('disabled')
