- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1{ style: 'display: inline-block' }
    Requirement Groups
    %span{ style: 'font-size: 12pt;' }
      = render 'tooltip',
               message: 'Requirement groups are groups of security tests. Once created, these groups can be associated with any organization or machine.'
  %a.btn.btn-success.btn-xs.pull-right#new-group{ href: new_requirement_group_path, title: 'Create New Requirement Group' }
    New Requirement Group
%section.content
  .box
    .box-header.with-border
      %i.fa.fa-check-circle
      %h3.box-title Requirement Groups Index
    .box-body.no-padding
      #no-requirement-groups-message{ class: "#{@groups.count == 0 ? '' : 'hide'}" }
        %h4.text-center No Requirement Groups
        %p.text-center
          = link_to 'Click Here to add one now.', new_requirement_group_path, css: 'click-here-link', title: 'Create New Requirement Group'
      %table.table.table-hover#requirement-groups-table{ class: "#{@groups.count == 0 ? 'hide' : ''}" }
        %thead
          %tr
            %th.col-md-2 Name
            %th.col-md-6 Description
            %th.col-md-4 Actions
        %tbody
          - @groups.sort_by(&:name).each do |group|
            %tr.requirement-group-row
              %td.col-md-2
                %a{ href: requirement_group_path(group.id), title: group.name }
                  = group.name
              %td.col-md-6
                = group.description
              %td.col-md-4
                - classes = 'btn btn-danger btn-xs remove-requirement-group'
                = link_to group, method: :delete, class: classes, data: { confirm: 'Are you sure?' }, title: 'Delete Requirement Group', remote: true do
                  Remove
