.requirement-view{ style: 'display: none;' }
  %results-by-requirement{ docker_command_id: scan_id,
                           org_id: org_id,
                           export_queues_present: export_queues_present.to_json }

= javascript_pack_tag 'results_by_requirement'
= stylesheet_pack_tag 'results_by_requirement'
