%section.content-header
  %h1 Dashboard
%section.content
  .col-md-3
    .info-box
      .info-box-icon.bg-aqua
        %i.ion.ion-monitor
      .info-box-content
        .info-box-text
          Assets
        .info-box-number
          = @asset_count
  .col-md-3
    .info-box
      .info-box-icon.bg-yellow
        %i.ion.ion-ios-people-outline
      .info-box-content
        .info-box-text
          Organizations
        .info-box-number
          = @org_count
