- if !@error_msg.nil?
  :plain
    Norad.alert('Failure', "#{ j(@error_msg) }", 'danger');
- else
  :plain
    $('a[href="/memberships/#{ j(@membership_id) }"]').closest('tr').remove();
    Norad.alert('Success', 'Membership successfully deleted!', 'success');
