%p.login-box-msg Enter your new password below
= form_for @password_reset do
  %input{ type: :hidden, name: 'provided_token', value: params[:provided_token] }
  .form-group.has-feedback
    %input.form-control{ placeholder: 'Password', type: :password, name: 'password_reset[password]' }
      %span.glyphicon.glyphicon-lock.form-control-feedback
  .form-group.has-feedback
    %input.form-control{ placeholder: 'Password confirmation', type: :password, name: 'password_reset[password_confirmation]' }
      %span.glyphicon.glyphicon-lock.form-control-feedback
  .row
    .col-xs-5.col-xs-offset-7
      %button.btn.btn-primary.btn-block.btn-flat#reset-password{ type: :submit } Reset Password
