%p.login-box-msg Enter your email to receive a password reset link
= form_for @password_reset do
  .form-group.has-feedback
    %input.form-control{ placeholder: 'Email', type: :email, name: 'password_reset[email]' }
      %span.glyphicon.glyphicon-user.form-control-feedback
  .row
    .col-xs-4.col-xs-offset-8
      %button.btn.btn-primary.btn-block.btn-flat#send-password-reset{ type: :submit } Send
