:plain
  $('#scan-schedule-form-modal.modal.fade').html("#{j render(partial: 'scan_schedules/form', locals: { schedule: @schedule, association_id: params[:machine_id] })}")
  $('#scan-schedule-form-modal').modal('show')
  $('button#schedule-form-save-button').click(function(e) {
    e.preventDefault();
    $('form.schedule-form').submit();
  });
