- content_for :sidebar do
  = render 'sidebar', machine: @machine, org: @machine.organization

- content_for :header_content do
  = render 'assessable/header', machine: @machine, large_title: 'Security Tests'
  = render 'application/flash_messages'

- content_for :main_window_content do
  .row
    .col-md-12
      .box.box-default
        .box-header.with-border
          %h3.box-title
            %i.fa.fa-cubes
            Security Test Selection and Configuration
          .box-tools.pull-right
            .btn.btn-box-tool
              = render 'tooltip', message: 'Security Tests chosen here will only run on the selected machine.'
            %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
              %i.fa.fa-minus
        .box-body
          = render 'security_tests/security_tests', form_path: machine_security_tests_path(@machine.id), target: @machine, containers: @containers

  = render 'enforcements', machine: @machine
  = render 'result_ignore_rules/result_ignore_rules', rule_scope: 'machine', machine: @machine

- content_for :side_window_content do
  = render 'machines/machine_info', machine: @machine
