.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
        %span{ 'aria-hidden' => 'true' } &times;
      %h4.modal-title New SSH Key Pair
    .modal-body
      = form_tag organization_ssh_key_pairs_path(@org), method: 'post', id: 'ssh-key-pair-form', class: 'form-horizontal' do
        .form-group
          %label.control-label.col-md-3 Name
          .col-md-8
            %input.form-control#ssh-name{ type: 'text', name: 'ssh_key_pair[name]' }
        .form-group
          %label.control-label.col-md-3 Description
          .col-md-8
            %input.form-control#ssh-description{ type: 'text', name: 'ssh_key_pair[description]' }
        .form-group
          %label.control-label.col-md-3 SSH Username
          .col-md-8
            %input.form-control#ssh-username{ type: 'text', name: 'ssh_key_pair[username]' }
        .form-group#ssh-key
          %label.control-label.col-md-3 SSH Private Key
          .col-md-8
            %span.help-block{ style: 'margin-left: 5px;' }
              (Note: Paste your private, passphrase-less ssh key here.)
            %span.ssh-private-key-error.error-text
            %textarea.form-control{ name: 'ssh_key_pair[key]', rows: 10 }
        .form-group
          .col-md-3.col-md-offset-3
            %button.btn.btn-primary#save-ssh-key-pair{ type: 'submit' } Save
