<script>
import { defaultProtocol, applicationPort, defaultPortNumber } from 'lib/helpers/service_port_defaults'
import { resetServiceProps } from 'lib/helpers/reset_service_props'
import { mapActions } from 'vuex'

export default {
  mounted () {
    this.setNextView(this.next_view)
    this.$emit('setValidator', this.$validator)
  },
  methods: {
    ...mapActions('services/view', [
      'setNextView'
    ]),
    ...mapActions('services/service', [
      'setProp'
    ]),
    setServiceProp (e) {
      let service_obj = {}

      // Make radio button parsing nicer
      let value = e.target.value
      if (value === 'true') value = true
      if (value === 'false') value = false

      service_obj[e.target.name] = value
      this.setProp(service_obj)
      this.setNextView(this.next_view)

      resetServiceProps(this, e)
    },
    setPortDefaults (e) {
      this.setServiceProp(e)

      // Set port protocol and application type defaults
      this.setProp({
        port_number: defaultPortNumber(this),
        transport_protocol: defaultProtocol(this),
        application_port: applicationPort(this),
      })
    }
  }
}
</script>

<style>
/* Bootstrap's button groups use the [data-toggle=buttons] selector to define the following
 * properties on input[type=radio]:
 * {
 *   position: absolute;
 *   clip: rect(0, 0, 0, 0);
 *   pointer-events: none;
 * }
 *
 * "pointer-events: none" kills Vue's @change handler on radio buttons, so I've copied the hiding CSS here
 * and omitted the event killer in favor of using ":class='active'" over Bootstrap's "data-toggle='buttons'"
 */
.radio-unstyled {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

#service-wizard-body {
  min-height: 350px;
}
</style>
