<template lang="pug">
button.btn.btn-primary.pull-right(@click="triggerNextView" :class="{ disabled: disabled, hide: hidden }") Next
</template>

<script>
export default {
  methods: {
    triggerNextView () {
      this.$emit('triggerTransitionToNextView')
    }
  },
  props: ['disabled', 'hidden']
}
</script>
