<template lang="pug">
button.btn.btn-default.pull-left(@click="transitionToPrevView" :class="{ hide: hidden }") Back
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions('services/view', [
      'transitionToPrevView'
    ])
  },
  props: ['hidden']
}
</script>
