<template lang="pug">
div
  h4 Encryption Protocol
  p Which encryption protocol will this service use?
  form
    .btn-group
      label.btn.btn-default(:class="{ active: encryption_protocol === 'cleartext' }")
        input.radio-unstyled(
          type="radio"
          name="encryption_protocol"
          value="cleartext"
          @change="setPortDefaults"
          :checked="encryption_protocol === 'cleartext'"
        )
        | None
      label.btn.btn-default(:class="{ active: encryption_protocol === 'ssl' }")
        input.radio-unstyled(
          type="radio"
          name="encryption_protocol"
          value="ssl"
          @change="setPortDefaults"
          :checked="encryption_protocol === 'ssl'"
        )
        | SSL / TLS
</template>

<script>
import Common from './common.vue'
import { mapState } from 'vuex'

export default {
  extends: Common,
  computed: {
    next_view () {
      return 'service_details'
    },
    ...mapState('services/service', [
      'encryption_protocol',
      'service_type'
    ])
  }
}
</script>
