<template lang="pug">
button.btn.btn-success.pull-right(@click="create" :class="{ hide: hidden }") Create
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState('services/view', [
      'final_service_obj'
    ])
  },
  methods: {
    ...mapActions('services/view', [
      'setCreationErrorString'
    ]),
    create () {
      let service_obj = this.final_service_obj
      let vm = this
      if (service_obj)
        this.$http.post(Routes.machine_services_path({ machine_id: this.machine_id, format: 'json' }), service_obj)
          .then(response => {
            window.location.href = Routes.machine_services_path({ machine_id: vm.machine_id })
          })
          .catch((error) => {
            let errors = error.response.data.errors
            let error_string = `Unable to create service. ${errors ? errors : ''}`
            vm.setCreationErrorString(error_string)
          })
    }
  },
  props: ['hidden', 'machine_id']
}
</script>
