<template lang="pug">
div
  h4 Web Authentication Fields
  p Enter the HTML field names for the authentication form.
  p These are the values of the
    strong
      |
      | name
      |
    | attribute for the username and password fields of your service's HTML authentication form.
  form
    .form-group.row(:class="{ 'has-error': errors.has('username_field') }")
      label.col-form-label.col-sm-3
        | Username Field
      .col-sm-9
        input.form-control(
          type="text"
          name="username_field"
          :value="username_field"
          @input="setServiceProp"
          v-validate="'required'"
        )
        span.help-block(v-show="errors.has('username_field')") This field is required.
    .form-group.row(:class="{ 'has-error': errors.has('password_field') }")
      label.col-form-label.col-sm-3
        | Password Field
      .col-sm-9
        input.form-control(
          type="text"
          name="password_field"
          :value="password_field"
          @input="setServiceProp"
          v-validate="'required'"
        )
        span.help-block(v-show="errors.has('password_field')") This field is required.
</template>

<script>
import Common from './common.vue'
import { mapState } from 'vuex'

export default {
  extends: Common,
  computed: {
    next_view () {
      return 'service_creds'
    },
    ...mapState('services/service', [
      'username_field',
      'password_field'
    ])
  }
}
</script>
