<template lang="pug">
span.expander
  i.fa(@click="toggleShow" :class="icon_class")
</template>

<script>
export default {
  computed: {
    icon_class () {
      return this.show ? 'fa-caret-down' : 'fa-caret-right'
    }
  },
  methods: {
    toggleShow () {
      this.$emit('toggleShow')
    }
  },
  props: {
    show: Boolean
  }
}
</script>

<style>
span.expander {
  display: inline-block;
  width: 20px;
}

.expander > i {
  cursor: pointer;
}
</style>
