<template lang="pug">
button.btn.btn-xs.btn-default(
  :class="disabled_class"
  v-if="export_queues_present"
  @click="buttonClicked"
  type="button"
  :title="button_title")
  i.fa.fa-share
  | Export
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  computed: {
    disabled_class () {
      return this.result_exported ? 'disabled' : ''
    },
    result_exported () {
      return this.exported_result_ids.includes(this.result_id)
    },
    button_title () {
      return this.result_exported ? 'Result Exported Successfully' : 'Export Results to All Export Locations'
    },
    ...mapState('results_by_requirement', [
      'export_queues_present',
      'exported_result_ids'
    ])
  },
  data () {
    return {}
  },
  methods: {
    buttonClicked () {
      this.exportResult(this.result_id)
    },
    ...mapActions('results_by_requirement', [
      'exportResult'
    ])
  },
  props: {
    result_id: Number
  }
}
</script>
