<template lang="pug">
button.btn.btn-xs.btn-default(
  :class="ignored ? 'disabled' : ''"
  type="button"
  @click="buttonClicked"
  title="Ignore Results Like This For This Machine")
  i.fa.fa-eye-slash
  |
  | Machine
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {}
  },
  methods: {
    buttonClicked () {
      this.createIgnoreRule({
        ignore_scope: 'machine',
        ignore_scope_id: this.machine_id,
        result_signature: this.result_signature
      })
      this.incrementIgnoringCount(this.requirement_id)
    },
    ...mapActions('results_by_requirement', [
      'createIgnoreRule',
      'incrementIgnoringCount'
    ])
  },
  props: {
    ignored: Boolean,
    machine_id: Number,
    result_signature: String,
    requirement_id: Number
  }
}

</script>
