<template lang="pug">
div
  h4.machine-header
    expander(@toggleShow="toggleShow" :show="show")
    status-badge("type"="machine" :status="machine.overall_status")
    a(:href="machine_link") {{ machine.name }}
  div(v-show="show")
    template(v-for="service in machine.services")
      service-header(:service="service" :requirement_id="requirement_id")
</template>

<script>
import StatusBadge from './status_badge.vue'
import ServiceHeader from './service_header.vue'
import Expander from './expander.vue'
import { mapState } from 'vuex'

export default {
  components: {
    StatusBadge,
    ServiceHeader,
    Expander
  },
  computed: {
    machine_link () {
      return Routes.results_machine_path(this.machine.id, { scan_id: this.docker_command_id })
    },
    ...mapState('results_by_requirement', [
      'docker_command_id'
    ]),
  },
  data () {
    return {
      show: false
    }
  },
  methods: {
    toggleShow () {
      this.show = !this.show
    }
  },
  props: {
    machine: Object,
    requirement_id: Number
  }
}
</script>

<style>
.machine-header {
  margin-left: 20px;
}
</style>
