<template lang="pug">
button.btn.btn-xs.btn-default(
  :class="ignored ? 'disabled' : ''"
  type="button"
  @click="buttonClicked"
  title="Ignore Results Like This Across This Organization")
  i.fa.fa-eye-slash
  |
  | Organization
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data () {
    return {}
  },
  methods: {
    buttonClicked () {
      this.createIgnoreRule({
        ignore_scope: 'organization',
        result_signature: this.result_signature,
        ignore_scope_id: this.org_id
      })
      this.incrementIgnoringCount(this.requirement_id)
    },
    ...mapActions('results_by_requirement', [
      'createIgnoreRule',
      'incrementIgnoringCount'
    ])
  },
  computed: {
    ...mapState('results_by_requirement', [
      'org_id'
    ])
  },
  props: {
    ignored: Boolean,
    result_signature: String,
    requirement_id: Number
  }
}
</script>
