<template lang="pug">
  .box(:class="box_class + (collapsed ? ' collapsed-box' : '')")
    .box-header.with-border
      h3.box-title(
        data-toggle="tooltip"
        :title="requirement.requirement_description"
        data-placement="right") {{ requirement.requirement_name }}
      .box-tools.pull-right
        button.btn.btn-box-tool(type='button' data-widget='collapse')
          i.fa(:class="icon_class")
      statistics-header(:requirement="requirement")

    .box-body
      template(v-for="security_test in requirement.security_tests")
        security-test-header(:security_test="security_test" :requirement_id="requirement.id")
</template>

<script>
import StatisticsHeader from './statistics_header.vue'
import SecurityTestHeader from './security_test_header.vue'

export default {
  components: {
    StatisticsHeader,
    SecurityTestHeader
  },
  computed: {
    box_class () {
      if (this.requirement.failing_count > 0) return 'box-danger'
      if (this.requirement.erroring_count > 0) return 'box-warning'
      if (this.requirement.warning_count > 0) return 'box-warning'
      if (this.requirement.passing_count > 0) return 'box-success'
      if (this.requirement.informing_count > 0) return 'box-info'
      return ''
    },
    collapsed () {
      let req = this.requirement
      if (req.failing_count + req.erroring_count + req.warning_count > 0) return false
      return true
    },
    icon_class () {
      if (this.collapsed) return 'fa-plus'
      return 'fa-minus'
    }
  },
  props: {
    requirement: Object
  }
}
</script>
