<template lang="pug">
.row
  .col-md-12
    span.output
      b Output
    pre.terminal-output
      code {{ displayed_output }}

</template>

<script>
export default {
  computed: {
    displayed_output () {
      if (this.result_output) return this.result_output
      return 'Output is empty.'
    }
  },
  data () {
    return {}
  },
  props: {
    result_output: String
  }
}

</script>
