<template lang="pug">
div.collapse(:aria-expanded="expanded" :class="el_class" :id="el_id")
  template(v-for="result in results")
    result-row(:result="result" :requirement_id="req.id")
</template>

<script>
import ResultRow from './result_row.vue'

export default {
  components: {
    ResultRow
  },
  computed: {
    el_class () {
      return this.expanded ? 'in' : ''
    },
    el_id () {
      return `${this.scope}-results-${this.req.id}`
    }
  },
  data () {
    return {
      results: this.req[`${this.scope}_results`]
    }
  },
  props: {
    scope: String,
    expanded: Boolean,
    req: Object
  }
}
</script>
