<template lang="pug">
.row
  .col-md-12
    h4
      expander(@toggleShow="toggleShow" :show="show")
      status-badge(:status="security_test.overall_status")
      b {{ security_test.display_title }}
    div(v-show="show")
      template(v-for="machine in security_test.machines")
        machine-header(:machine="machine" :requirement_id="requirement_id")
</template>

<script>
import MachineHeader from './machine_header.vue'
import ResultRow from './result_row.vue'
import Expander from './expander.vue'
import StatusBadge from './status_badge.vue'

export default {
  components: {
    StatusBadge,
    MachineHeader,
    ResultRow,
    Expander
  },
  data () {
    return {
      show: false
    }
  },
  methods: {
    toggleShow () {
      this.show = !this.show
    }
  },
  props: {
    security_test: Object,
    requirement_id: Number
  }
}
</script>
