<template lang="pug">
div
  h4.service-header
    expander(@toggleShow="toggleShow" :show="show")
    status-badge("type"="service" :status="service.overall_status")
    | {{ service.name }}
  div(v-show="show")
    template(v-for="result in service.results")
      result-row(:result="result" :requirement_id="requirement_id")
</template>

<script>
import StatusBadge from './status_badge.vue'
import ResultRow from './result_row.vue'
import Expander from './expander.vue'

export default {
  components: {
    StatusBadge,
    ResultRow,
    Expander
  },
  data () {
    return {
      show: false
    }
  },
  methods: {
    toggleShow () {
      this.show = !this.show
    }
  },
  props: {
    service: Object,
    requirement_id: Number
  }
}
</script>

<style>
.service-header {
  margin-left: 40px;
}
</style>
