<template lang="pug">
.small-result-statistics-header.pull-right
  span
    span.result-statistics-header-item.tests-completed-spacing
      span.label.label-default.stat-label-spacing(
        data-toggle="tooltip"
        title="Each assessment can have more than one result. Results are tallied to the right."
        data-placement="right")
        | Tests Completed
        span.stat-emphasis.test-stat-emphasis {{ completed }} of {{ total }}
  span.pull-right
    span.result-statistics-header-item
      span.label.label-danger.stat-label-spacing
        | Failed
        span.stat-emphasis {{ failed }}
    span.result-statistics-header-item
      span.label.label-warning.stat-label-spacing
        | Errored
        span.stat-emphasis {{ errored + warned }}
    span.result-statistics-header-item
      span.label.label-success.stat-label-spacing
        | Passed
        span.stat-emphasis {{ passed }}
    span.result-statistics-header-item
      span.label.label-info.stat-label-spacing
        | Info
        span.stat-emphasis {{ info }}
    span.result-statistics-header-item
      span.label.label-default.stat-label-spacing
        | Ignored
        span.stat-emphasis {{ ignored }}
</template>

<script>
export default {
  computed: {
    ignored () {
      return this.requirement.ignoring_count
    },
    passed () {
      return this.requirement.passing_count
    },
    failed () {
      return this.requirement.failing_count
    },
    warned () {
      return this.requirement.warning_count
    },
    errored () {
      return this.requirement.erroring_count
    },
    info () {
      return this.requirement.informing_count
    },
    total () {
      return this.requirement.total_assessments
    },
    completed () {
      return this.requirement.completed_assessments
    }
  },
  data () {
    return {}
  },
  props: {
    requirement: Object
  }
}
</script>
