<template lang="pug">
i.status-badge.fa(:class="status_class")
</template>

<script>
const statsBadgeColor = (status) => {
  switch (status) {
    case 'error':
    case 'warn':
      return 'stats-badge-warning'
    case 'pass':
      return 'stats-badge-success'
    case 'fail':
      return 'stats-badge-danger'
    case 'info':
      return 'stats-badge-info'
    default:
      return 'stats-badge-default'
  }
}

const statsBadgeIcon = (type, status) => {
  if (type === 'machine') return 'fa-laptop'
  if (type === 'service') return 'fa-gears'
  switch (status) {
    case 'error':
    case 'warn':
      return 'fa-exclamation-triangle'
    case 'pass':
      return 'fa-check-circle'
    case 'fail':
      return 'fa-times-circle'
    case 'info':
      return 'fa-info-circle'
    default:
      return 'fa-clock-o'
  }
}

export default {
  computed: {
    status_class () {
      return `${statsBadgeColor(this.status)} ${statsBadgeIcon(this.type, this.status)}`
    }
  },
  props: {
    status: String,
    type: String
  }
}
</script>

<style>
.status-badge {
  margin-right: 15px;
}
</style>
