%h4.text-center
  No scans have been run
%p.text-center
  - if machine.security_tests_present?
    = link_to scan_machine_path(machine), class: "scan-machine click-here-link", method: :post, remote: true, 'data-disable-with': 'Starting...' do
      Click here
    to start a scan now.
  - else
    Please select security tests before trying to run a scan
