- if !(defined? show_ignored) || show_ignored == result.ignored
  - terminal_output = local_assigns.fetch :show_terminal_output, true
  .row.result-row
    .col-md-12
      .row.result-details
        .col-md-6
          %span{ style: "margin-right: 10px; color: #{status_hex_color(result.status)};" }
            %i.fa{ class: status_icon(result.status) }
          = result.title
        .col-md-6
          .actions
            %a.btn.btn-xs.btn-default.show-output{ href: '#', title: 'Show Console Output' }
              %i.fa.fa-terminal
              Output
            %a.btn.btn-xs.btn-default.show-description{ href: '#', title: 'Show Description' }
              %i.fa.fa-toggle-down
              Description
            - if current_user_admin_for_org?(org)
              - if result.ignored
                = link_to result_ignore_rule_path(result.signature, machine_id: machine.id, organization_id: org.id),
                          title: 'Stop Ignoring Results Like This',
                          class: 'btn btn-default btn-xs ignore-result-action',
                          method: :delete do
                  %i.fa.fa-eye
                  Unignore
              - else
                = result_ignore_form_for(machine) do
                  = hidden_field :result_ignore_rule, :signature, value: result.signature
                  = hidden_field :result_ignore_rule, :comment, value: ignore_comment_for(machine, result)
                  %button.ignore-result-btn.btn.btn-xs.btn-default#ignore-for-machine{ type: :submit,
                    title: 'Ignore Results Like This For This Machine' }
                    %i.fa.fa-eye-slash
                    Machine
                = result_ignore_form_for(org) do
                  = hidden_field :result_ignore_rule, :signature, value: result.signature
                  = hidden_field :result_ignore_rule, :comment, value: ignore_comment_for(org, result)
                  %button.ignore-result-btn.btn.btn-xs.btn-default#ignore-for-org{ type: :submit,
                    title: 'Ignore Results Like This Across This Organization' }
                    %i.fa.fa-eye-slash
                    Organization
            - if @export_queues_present
              = result_exporter_form_for do
                = hidden_field :result_exporter, :result_id, value: result.id
                %button.result-export-btn.btn.btn-xs.btn-default#export-result{ type: :submit,
                  title: 'Export Results to All Export Locations' }
                  %i.fa.fa-share
                  Export
      .row.result-description.display-none
        .col-md-12
          %span{ style: 'display: inline-block;' }
            %b
              Description
          %pre
            - if result.description.blank?
              No Description Provided
            - else
              = result.description
      .row.result-output{ style: 'margin-top: 5px;' }
        .col-md-12
          %pre.terminal-output{ class: terminal_output ? '' : 'display-none' }
            %code
              = preserve do
                = result.output.blank? ? 'Output is empty.' : result.output
  %hr.small
