- results_count = { total: results[:count], ignored: results[:ignored] }
.box.collapsed-box{ class: "box-#{resolve_status_to_box_class(section.to_s)}" }
  .box-header.with-border
    %h3.box-title
      - section_title = section == :info ? 'Info' : "#{section.to_s.capitalize}ing"
      #{section_title} Results :
      = results_count[:total]
    .box-tools.pull-right
      %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
        %i.fa.fa-plus
  .box-body
    - if results_count[:total].zero?
      %h4.text-center
        Nothing to report
    - else
      -# Unignored results list
      = render 'machines/service_container', results: results, org: org, machine: machine

      -# Ignored results list
      - unless results_count[:ignored].zero?
        .row.toggle-on-show-ignored{ class: ('hide' if results_count[:ignored].zero?) }
          .col-md-12
            %i Not showing #{results_count[:ignored]} ignored #{'result'.pluralize(results_count[:ignored])}
        %section.toggle-on-show-ignored.hide
          .row
            .col-md-12
              %h4
                %i Ignored Results
          = render 'machines/service_container', results: results, show_ignored: true, machine: machine, org: org
