.modal-dialog
  .modal-content
    .modal-header
      Edit User
      %button.close{ 'data-dismiss' => 'modal' }
        %span &times;
    .modal-body
      = form_for @user, html: { class: 'user-edit-form' } do |f|
        .form-group
          %label User First Name
          = f.text_field :firstname, class: 'form-control', maxlength: 255
        .form-group
          %label User Last Name
          = f.text_field :lastname, class: 'form-control', maxlength: 255
    .modal-footer
      %button.btn.btn-default{ 'data-dismiss' => 'modal' } Close
      %button.btn.btn-primary#user-edit-form-save-button Save
