%p.login-box-msg Sign up to begin using NORAD
= form_for @user do
  .form-group.has-feedback
    %input.form-control{ type: :text, placeholder: 'Email', name: 'user[email]' }
      %span.glyphicon.glyphicon-user.form-control-feedback
  .form-group.has-feedback
    %input.form-control#user-password{ placeholder: 'Password', type: :password, name: 'user[local_authentication_method_attributes][local_authentication_record_attributes][password]' }
      %span.glyphicon.glyphicon-lock.form-control-feedback
  .form-group.has-feedback
    %input.form-control#user-password-confirmation{ placeholder: 'Password confirmation', type: :password, name: 'user[local_authentication_method_attributes][local_authentication_record_attributes][password_confirmation]' }
      %span.glyphicon.glyphicon-lock.form-control-feedback
  .row
    .col-xs-8= link_to 'Have an account? Sign in', login_path
    .col-xs-4
      %button.btn.btn-primary.btn-block.btn-flat#sign-up{ type: :submit } Sign Up
