- content_for :sidebar do
  = render 'sidebar', org: @org
%section.content-header
  %h1{ style: 'display: inline-block' }
    %span
      = "User: #{@user.uid}" unless @user.blank?
  - if AuthStrategy.local_auth?
    = link_to 'Click here to reset your password', new_password_reset_path, class: 'pull-right'
  = render 'application/flash_messages'
%section.content
  - if @user.nil?
    .callout.callout-danger
      %h4 How dare you!
      %p
        You know you aren't supposed to be looking through other users' private information
  - else
    .row
      .col-md-6
        .box.box-primary
          .box-header
            %h3.box-title
              User Info
            .box-tools.pull-right
              = link_to edit_user_path(@user), title: 'Edit User', remote: true do
                %i.fa.fa-edit
          .box-body.no-padding
            %table.table.table-condensed
              %tbody
                %tr
                  %th.col-md-2.text-right UID:
                  %td= @user.uid
                %tr
                  %th.col-md-2.text-right Email:
                  %td= @user.email
                %tr
                  %th.col-md-2.text-right First Name:
                  %td= @user.firstname
                %tr
                  %th.col-md-2.text-right Last Name:
                  %td= @user.lastname
          .modal.fade#user-edit-form-modal
      .col-md-6
        .box.box-primary.collapsed-box
          .box-header.with-border
            %h3.box-title
              API Token
            .box-tools.pull-right
              %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
                %i.fa.fa-plus
          .box-body
            .container-fluid
              .row
                .col-12-md.text-center
                  %h4#api-token
                    = @user.api_token
          .box-footer
            .container-fluid
              .row
                .col-12-md.text-center
                  - link_classes = 'btn btn-xs btn-primary'
                  = link_to 'Recreate', user_api_token_path(@current_user), class: link_classes, data: { confirm: 'Are you sure?' }, method: :put
