.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
        %span{ 'aria-hidden' => 'true' } &times;
      %h4.modal-title
        Edit Jira Export Queue
    .modal-body
      #queue-form
        = form_with url: jira_export_queue_path(export_queue), scope: :jira_export_queue, method: :put, local: true, html: { class: 'form-horizontal' } do |f|
          = f.fields_for :custom_jira_configuration_attributes do |jira_config|
            = jira_config.hidden_field :id, value: export_queue.config['id']
            .form-group
              %label.control-label.col-md-3
                Title
              .col-md-8
                = jira_config.text_field :title, class: 'form-control', value: export_queue.config['title']
            .form-group
              %label.control-label.col-md-3
                Site URL
              .col-md-8
                = jira_config.text_field :site_url, class: 'form-control', value: export_queue.config['site_url']
            .form-group
              %label.control-label.col-md-3
                Project Key
              .col-md-8
                = jira_config.text_field :project_key, class: 'form-control', value: export_queue.config['project_key']
            .form-group
              %label.control-label.col-md-3
                Username
              .col-md-8
                = jira_config.text_field :username, class: 'form-control', value: export_queue.config['username']
            .form-group
              %label.control-label.col-md-3
                Password
              .col-md-8
                = jira_config.password_field :password, class: 'form-control', placeholder: 'Password'
          .form-group
            %label.control-label.col-md-3 Auto Sync
            .col-md-8
              = f.select :auto_sync, %w(true false), { selected: export_queue.auto_sync }, class: 'form-control'
          .form-group
            .col-md-3.col-md-offset-3
              %button.btn.btn-primary#save-export-queue{ type: 'submit', data: { disable_with: 'Saving...' } } Save
