= form_with url: organization_jira_export_queues_path(org_id), scope: :jira_export_queue, local: true, html: { class: 'form-horizontal' } do |f|
  = f.fields_for :custom_jira_configuration_attributes do |jira_config|
    .form-group
      %label.control-label.col-md-3
        Title
      .col-md-8
        = jira_config.text_field :title, class: 'form-control', placeholder: 'My Jira Tracker'
    .form-group
      %label.control-label.col-md-3
        Site URL
      .col-md-8
        = jira_config.text_field :site_url, class: 'form-control', placeholder: 'https://acme.com/jira'
    .form-group
      %label.control-label.col-md-3
        Project Key
      .col-md-8
        = jira_config.text_field :project_key, class: 'form-control', placeholder: 'P123'
    .form-group
      %label.control-label.col-md-3
        Username
      .col-md-8
        = jira_config.text_field :username, class: 'form-control', placeholder: 'Username'
    .form-group
      %label.control-label.col-md-3
        Password
      .col-md-8
        = jira_config.password_field :password, class: 'form-control', placeholder: 'Password'
  .form-group
    %label.control-label.col-md-3 Auto Sync
    .col-md-8
      = f.select :auto_sync, %w(true false), {}, class: 'form-control'
  .form-group
    .col-md-3.col-md-offset-3
      %button.btn.btn-primary#save-export-queue{ type: 'submit', data: { disable_with: 'Saving...' } } Save
