- if @org_id
  :plain
    var $modal = $('#result-export-queue-form-modal');
    $modal.html("#{j render(partial: 'jira_export_queues/edit_form', locals: { export_queue: @export_queue, org_id: @org_id })}")
    $modal.modal('show');
- else
  :plain
    Norad.alert('Error!', 'Unable to edit the Jira export location edit form.', 'danger');
