<template lang="pug">
div
  table.table.table-hover
    thead
      tr
        th.col-md-1.text-center Default
        th Organization Name
        th Organization Registration Token
        th Actions
    tbody
      tr(v-for="(org, slug) in orgs")
        td.text-center
          i.fa(style='color: #3c8dbc;', :class="slug == default_org ? 'fa-circle' : 'fa-circle-o'", @click="toggle_default(slug)")
        td
          a.org-name(:href="org_path(slug)") {{ org.uid }}
        td {{ org.token }}
        td
          a.action(:href="org_settings_path(slug)")
            i.fa.fa-edit
          a.action.danger(:href="org_path(slug)", v-if="token_present(org)", @click.prevent="delete_org(slug)")
            i.fa.fa-remove

</template>

<script>
export default {
  data: function () {
    return {}
  },
  methods: {
    toggle_default: function(org_slug){
      var new_default = org_slug == this.default_org ? '' : org_slug
      this.$http.post('/organizations/default', { org: new_default })
      .then((response) => {
        this.$emit('set_default_org', (new_default))
      })
      .catch((error) => {
        alert('Could not set default org')
      })
    },
    delete_org: function(org_slug){
      if( !confirm('Are you sure?') ){ return }

      this.$http.delete(Routes.organization_path(org_slug, {format: 'js'}))
      .then((response) => {
        this.$emit('org_deleted', org_slug)
      })
      .catch((error) => {
        alert('Error while deleting: ' + org_slug)
      })
    },
    org_path: function(slug){
      return Routes.organization_path(slug)
    },
    org_settings_path: function(slug){
      return Routes.settings_organization_path(slug)
    },
    token_present: function(org){
      return org.hasOwnProperty("token") && org.token != null
    }
  },
  props: ['orgs', 'default_org']
}
</script>

<style scoped>
a.action {
  margin: 0px 5px;
}

a.danger {
  color: #E00000
}
</style>
