<template lang="pug">
.box
  .box-header.with-border
    i.fa.fa-users
    h3.box-title Organization Index
    .box-tools.pull-right
      button.btn.btn-xs.btn-box-tool("data-toggle"="modal", "data-target"="#new-org-modal")
        i.fa.fa-plus-circle
        |
        | New Organization
  .box-body.no-padding
    org-table(:orgs="organizations", :default_org="default_org", v-on:set_default_org="setDefaultOrg", v-on:org_deleted="removeOrg")
    #new-org-modal.modal.fade(role='dialog')
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close('data-dismiss'='modal')
              span &times;
            h4.modal-title New Organization
          .modal-body
            .form-horizontal
              div(:class="{'form-group': true, 'has-error': errors.any()}")
                label.col-md-3.control-label(for="textinput") Organization Name
                .col-md-9
                  input#org-name-input.form-control(type="text", v-model="new_org", v-validate="'required|org_name_default|org_name_chars'", @keyup.enter="createOrg")
                  span.help-block
                    i Organization names must being with a letter and followed by numbers, letters, spaces, or dashes (-_).  It must not end with 'default'.
          .modal-footer
            button.btn.btn-primary( :disabled="new_org == '' || errors.any()", @click.prevent="createOrg") Create

</template>

<script>
import OrgTable from './organizations-table.vue'
export default {
  data: function () {
    return {
      org_path: Routes.organizations_path(),
      organizations: this.init_orgs,
      default_org: this.init_default_org,
      new_org: ''
    }
  },
  methods: {
    removeOrg: function(org_slug) {
      var remaining_orgs = Object.assign({}, this.organizations)
      delete remaining_orgs[org_slug]
      this.organizations = remaining_orgs
    },
    setDefaultOrg: function(org_slug){
      this.default_org = org_slug
    },
    showModal: function(){
      $('#new-org-modal').modal('show')
    },
    hideModal: function(){
      $('#new-org-modal').modal('hide')
    },
    createOrg: function(){
      var vm = this
      this.$http.post(Routes.organizations_path({format: 'json'}),
        { organization: { uid: this.new_org } }
      )
      .then(function(response) {
        var new_org = response.data
        window.location.href = Routes.organization_path({id: new_org.slug})
      })
      .catch(function(error){
        alert(error.response.data.errors)
      })
    }
  },
  components: {
    'org-table': OrgTable
  },
  props: ['init_orgs', 'init_default_org']
}
</script>

<style scoped>
</style>
