%table.table#containers-table{ class: ('hide' unless containers.present?) }
  %thead
    %tr
      - if show_repository_details?(repository)
        %th
      %th Name
      %th Tag
      - if show_repository_details?(repository)
        %th
          Service Requirements
          = render 'tooltip', message: 'Services required for the scan to run.'
        %th Created
        %th Updated
        - if repository.authorizer&.fetch(:can_edit?)
          %th Actions
  %tbody#containers-table-body
    - containers.each do |container|
      = render 'repository_security_containers/container_row', container: container, repository: repository
