.modal-dialog
  .modal-content
    .modal-header
      New Test Repository
      %button.close{ 'data-dismiss': 'modal' }
        %span &times;
    .modal-body
      = render 'form', repository: repository
    .modal-footer
      = submit_tag 'Create', class: 'btn btn-success', id: 'submit-repository'
