- if repository.official
  %p Norad Official Repositories are automatically enabled for all organizations.

- elsif orgs.present? && repository.authorizer&.fetch(:can_peruse?)
  %p Enable or disable this repository for organizations you're an admin of.
  %table.table
    %thead
      %th Enabled
      %th Organization
    %tbody
      - orgs.each do |org|
        %tr
          %td{ data: { org: { id: org.db_id } } }
            = render 'whitelist_entry_form',
                      repository: repository,
                      org_id: org.db_id,
                      checked: repository.enabled_for_org_id?(org.db_id)
          %td= org.slug

- elsif orgs.blank?
  %p You don't appear to be an admin of any organizations. Only organization admins can whitelist test repositories.

- else
  %p A repository admin must add you as a Reader or Admin to this repository before you can whitelist it for tests.
