.docker-relay
  .row.relay-row
    .col-md-1
      %span.relay-header ID:
      = relay.id
    .col-md-2.text-center
      %span.relay-header Version:
      %label.label{ title: relay_outdated_help_text(relay), class: relay_outdated_class(relay) }= relay.last_reported_version || 'Unreported'
    .col-md-2.text-center
      %span.relay-header State:
      %label.label{ class: relay_state_color(relay.state) }
        = relay.state.capitalize
    .col-md-3.text-center
      %span.relay-header Last Contact:
      #{time_ago_in_words(relay.last_heartbeat)} ago
    .col-md-2.text-center
      %span.relay-header Verified:
      %input.verify{ type: 'checkbox', name: 'docker_relay[verified]', checked: relay.verified, 'data-id' => relay.id }
    .col-md-2.text-right
      :ruby
        classes = 'btn btn-danger btn-xs delete-relay'
        confirm_msg = 'Are you sure you want to delete this relay?'
        disable_content = '<i class="fa fa-spinner fa-spin"></i>'
      = link_to 'Delete', relay_path(relay), method: :delete, class: classes, data: { confirm: confirm_msg, disable_with: disable_content }, title: 'Delete Relay', remote: true
  .row.relay-row
    .col-md-12
      %span.relay-header
        Fingerprint:
        %i.fa.fa-question-circle.help-icon{ 'data-toggle': "modal", 'data-target': "#fingerprint-command-modal" }
      .relay-fingerprint
        = relay.key_signature
