- if @org_id
  :plain
    var $modal = $('#result-export-queue-form-modal');
    $modal.html("#{ j render(partial: 'new_form', locals: { org_id: @org_id }) }" );
    $modal.modal('show');

    $('#queue-type').on('change', function() {
      var url = $('#queue-type').val();
      $.get(url, function(response) {
        $('#queue-form').html(response);
      }, 'html')
      .fail(function() {
        Norad.alert('Failure', 'Request to ' + url + ' failed.  Please try reloading page', 'danger');
      });
    });
- else
  :plain
    Norad.alert('Error!', 'Unable to show the result export location creation form.', 'danger');
