%tr{ 'data-provision-id' => provision.id }
  - container = provision.security_container
  %td
    - display_name = image_name(container.name)
    = display_name
    %a{ href: container.help_url, title: security_container_help_title(display_name), target: '_blank' }
      %i.fa.fa-question-circle.help-icon
  %td.requirement-container-actions.text-center
    = link_to provision_path(provision.id), method: :delete, remote: true do
      %i.fa.fa-remove
  %td
    = container.service_requirements
