:plain
  $('#requirement-settings-form-modal.modal.fade')
    .html("#{j render(partial: 'index')}")
    .find('select.security-test-list')
      .select2({"width":"100%"})
    .end()
    .modal('show')

