.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
        %span{ 'aria-hidden' => 'true' } &times;
      %h4.modal-title
        Edit Infosec Export Queue
    .modal-body
      #queue-form
        = form_with url: infosec_export_queue_path(export_queue), scope: :infosec_export_queue, method: :put, local: true, html: { class: 'form-horizontal' } do |f|
          = f.fields_for :infosec_export_queue_configuration_attributes do |infosec_config|
            = infosec_config.hidden_field :id, value: export_queue.config[:id]
            .form-group
              %label.control-label.col-md-3 CTSM ID
              .col-md-8
                = infosec_config.text_field :ctsm_id, class: 'form-control', value: export_queue.config[:ctsm_id], placeholder: 'CTSM-<id>'
          .form-group
            %label.control-label.col-md-3 Auto Sync
            .col-md-8
              = f.select :auto_sync, %w(true false), { selected: export_queue.auto_sync }, class: 'form-control'
          .form-group
            .col-md-3.col-md-offset-3
              %button.btn.btn-primary#save-export-queue{ type: 'submit', data: { disable_with: 'Saving...' } } Save
