= form_with url: organization_infosec_export_queues_path(org_id), scope: :infosec_export_queue, local: true, html: { class: 'form-horizontal' } do |f|
  = f.fields_for :infosec_export_queue_configuration_attributes do |infosec_config|
    .form-group
      %label.control-label.col-md-3 CTSM ID
      .col-md-8
        = infosec_config.text_field :ctsm_id, class: 'form-control', placeholder: 'CTSM-<id>'
  .form-group
    %label.control-label.col-md-3 Auto Sync
    .col-md-8
      = f.select :auto_sync, %w(true false), {}, class: 'form-control'
  .form-group
    .col-md-3.col-md-offset-3
      %button.btn.btn-primary#save-export-queue{ type: 'submit', data: { disable_with: 'Saving...' } } Save
