- if @error_msg.present?
  :plain
    Norad.alert('Update Whitelist:', '#{j @error_msg}', 'danger self-destructable')
- else
  :plain
    $('[data-org-id="#{j @org_id}"]').html(
      "#{j render('security_test_repositories/whitelist_entry_form',
                  repository: @repository,
                  org_id: @org_id,
                  checked: false)}"
    )
    Norad.alert('Update Whitelist:', 'Success', 'success self-destructable')
