- content_for :sidebar do
  = render 'sidebar', org: @org
-# Until the API truly supports multiple schedules, the UI should essentially treat this as a
  singular resource. The API enforces that only one schedule can be created for an organization,
  so for now it is safe to grab the first schedule that is returned.
- schedule = @org.scan_schedules.first || @org.scan_schedules.build
- can_modify = schedule.user_can_modify?(current_user, @org)
%section.content-header
  = render 'organization_header', org: @org, menu_name: 'Scan Schedule'
  %h1{ style: 'display: inline-block' }
  = render 'application/flash_messages'
%section.content
  .box.box-default
    .box-header.with-border
      %i.fa.fa-clock-o
      %h3.box-title
        Scan Schedule
      - if schedule.new? && can_modify
        .box-tools.pull-right
          = link_to new_organization_scan_schedule_path(@org, slug: @org.slug), title: 'Add New Scan Schedule', remote: true, class: 'btn btn-xs btn-box-tool', id: 'add-new-schedule' do
            Create Schedule
    .box-body
      - if schedule.new?
        %h4.text-center
          You have not set up a recurring scan for the machines in this organization.
        %p.text-center
          = link_to new_organization_scan_schedule_path(@org, slug: @org.slug), class: 'click-here-link', title: 'Add New Scan Schedule', remote: true do
            Click Here
          to add a recurring scan.
      - else
        :ruby
          edit_path = edit_organization_scan_schedule_path(schedule, slug: @org.slug)
          destroy_path = organization_scan_schedule_path(schedule, slug: @org.slug)
        = render partial: 'scan_schedules/table', locals: { schedule: schedule, edit_path: edit_path, destroy_path: destroy_path, can_modify: can_modify }
.modal.fade#scan-schedule-form-modal
