<template lang="pug">
div.fade.modal(:id="modalId" role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        span#modal-title {{modalTitle}}
        button.close(data-dismiss='modal')
          span &times;
      .modal-body
        .callout.callout-danger(v-if="displayedAjaxErrors.length > 0")
          h4#error-modal-title {{errorModalTitle}}
          div(v-if="displayedAjaxErrors.length == 1") {{displayedAjaxErrors[0]}}
          ul(v-else v-for="(error, k) in displayedAjaxErrors" key="k")
            li {{error}}
        .machine-form
          .form-group(:class="{ 'has-error': errors.has('ip') }")
            label(for="textinput") Machine IP
            input#machine_ip.form-control(type="text" name="ip" v-model="machine.ip" v-validate="'machine_ip_not_local_host|machine_ip'")
            span.help-block.has-error(v-if="errors.has('ip')") {{errors.first('ip')}}
          .form-group(:class="{ 'has-error': errors.has('fqdn') }")
            label(for="textinput") Machine FQDN
            input#machine_fqdn.form-control(type="text" name="fqdn" v-model="machine.fqdn" v-validate="'machine_fqdn'")
            span.help-block.has-error(v-if="errors.has('fqdn')") {{errors.first('fqdn')}}
          .checkbox
            label
              input#machine_use_fqdn_as_target(type="checkbox" v-model="machine.use_fqdn_as_target")
              span Use FQDN as Target
          .form-group(:class="{ 'has-error': errors.has('name') }")
            label(for="textinput") Machine Name
            span.help-block A name will be generated for you if this field is left blank.
            input#machine_name.form-control(size="36" type="text" name="name" v-model="machine.name" v-validate="'machine_name_length'")
            span.help-block.has-error(v-if="errors.has('name')") {{errors.first('name')}}
          .form-group
            label(for="textinput") Machine Description
            textarea#machine_description.form-control(v-model="machine.description")
      .modal-footer
        button.btn.btn-default(data-dismiss='modal') Close
        button#submit-btn.btn.btn-primary(@click.prevent="submitMachine" :disabled="errors.any()") {{submitMachineButtonText}}
</template>

<script>
import { mapActions, mapState } from 'vuex'

window.redirectTo = function (location) {
  window.location.href = location
}

export default {
  props: {
    mode: String
  },
  data: function () {
    return {
      ajaxErrors: []
    }
  },
  computed: {
    ...mapState('machines', [
      'organization',
      'activeEditedMachine'
    ]),
    machine: function () {
      if (this.mode == "new") {
        return { ip: "", fqdn: "", use_fqdn_as_target: false, name: "", description: "" }
      } else {
        return Object.assign({}, this.activeEditedMachine)
      }
    },
    displayedAjaxErrors: function () {
      return this.ajaxErrors
    },
    submitMachineButtonText: function () {
      if (this.mode == 'edit') {
        return "Save"
      } else if (this.mode == 'new') {
        return "Create"
      }
    },
    errorModalTitle: function () {
      if (this.mode == 'edit') {
        return "Unable to update machine"
      } else if (this.mode == 'new') {
        return "Unable to create machine"
      }
    },
    modalId: function () {
      if (this.mode == 'edit') {
        return 'edit-machine-modal'
      } else if (this.mode == 'new') {
        return 'new-machine-modal'
      }
    },
    modalTitle: function () {
      if (this.mode == 'edit') {
        return 'Edit Machine'
      } else if (this.mode == 'new') {
        return 'New Machine'
      }
    }
  },
  methods: {
    ...mapActions('machines', [
      'updateMachineAttributes'
    ]),
    submitMachine: function() {
      if (this.mode == 'edit') {
        this.updateMachine()
      } else if (this.mode == 'new') {
        this.createMachine()
      }
    },
    createMachine: function() {
      this.$http.post(Routes.organization_machines_path(this.organization.id, { format: 'json' }),
        {
          machine: {
            ip: this.machine.ip,
            fqdn: this.machine.fqdn,
            use_fqdn_as_target: this.machine.use_fqdn_as_target,
            name: this.machine.name,
            description: this.machine.description
          }
        }
      )
      .then((response) => {
        redirectTo(Routes.machine_services_path({ id: response.data.machine.id }) + "?machine_created=true")
      })
      .catch((error) => {
        this.handleErrors(error)
      })
    },
    updateMachine: function() {
      this.$http.put(Routes.machine_path(this.machine.id, { format: 'json' }),
        {
          machine: {
            ip: this.machine.ip,
            fqdn: this.machine.fqdn,
            use_fqdn_as_target: this.machine.use_fqdn_as_target,
            name: this.machine.name,
            description: this.machine.description
          }
        }
      )
      .then((response) => {
        let updatedMachine = response.data.machine
        this.updateMachineAttributes({ updatedMachine })
        $('#edit-machine-modal').modal('hide')
      })
      .catch((error) => {
        this.handleErrors(error)
      })
    },
    handleErrors: function (error) {
      if (error.response.status == 500) {
        this.ajaxErrors = ["Something went wrong. Please try again later"]
      } else {
        this.ajaxErrors = error.response.data.errors
      }
    }
  }
}
</script>

<style scoped>
</style>
