<template lang="pug">
tr
  td.col-md-3
    a#machine-services-btn(:href="machineServicesPath" v-if="!machine.has_services")
      i.circle-warning.fa.fa-exclamation-triangle.lacks-services-warning(
        data-toggle="tooltip"
        title="This machine lacks associated services, that is typically necessary in order for scans to properly run"
        data-placement="right")
    a.machine-name(:href="machinePath" :title="machine.name") {{truncatedName}}
  td.col-md-2.machine-scan-target.underline(
    v-if="machine.ip && machine.fqdn"
    data-toggle="tooltip"
    data-html="true"
    data-placement="top"
    :title="'<div class=\"tooltip-container\"><div><b>IP:</b></div> <div>'+machine.ip+'</div> <br /> <div><b>FQDN:</b>\
      </div> <div>'+machine.fqdn+'</div></div>'") {{ targetAddress }}
  td.col-md-2.machine-scan-target(v-else) {{ targetAddress}}
  td.col-md-3
    span#machine-description {{truncatedDescription}}
    span.see-more(
      v-if="truncatedDescription != '' && truncatedDescription != machine.description"
      data-toggle="tooltip"
      :title="machine.description"
      data-placement="top") see more
  td
    div.label.machine-status(:class="'label-'+ statusColor") {{ machine.status | capitalize }}
  td.machine-actions
    a#scan-machine-btn(@click="scanMachine" title="Scan Machine")
      i.fa.fa-play-circle(:class="scanned ? 'discovery-in-progress' : 'action-button'")
    a#discover-service-btn(@click="discoverServices" :title="discoveryActionState")
      i.fa.fa-search-plus(:class="scheduleServiceDiscovery ? 'discovery-in-progress' : 'action-button'")
    a#edit-machine-btn(@click="editMachine" title="Edit Machine")
      i.fa.fa-edit.action-button
    a#machine-settings-btn(:href="settingsMachinePath" title="Machine Settings")
      i.fa.fa-gear
    a#delete-machine-btn(@click="deleteMachine" title="Delete Machine")
      i.fa.fa-remove.action-button
</template>

<script>
import { mapState, mapActions } from 'vuex'
import 'lib/filters'

export default {
  props: {
    machine: Object
  },
  data: function () {
    return {
      scanned: false,
      scheduleServiceDiscovery: this.machine.scheduled_service_discovery
    }
  },
  computed: {
    ...mapState('machines', ['organization']),
    discoveryActionState () {
      if (this.machine.scheduled_service_discovery) return 'Discovery in Progress'
      return 'Schedule Service Discovery'
    },
    statusColor: function () {
      if (this.machine.status == 'pass') return 'success'
      if (this.machine.status == 'warn') return 'warning'
      if (this.machine.status == 'error') return 'warning'
      if (this.machine.status == 'fail') return  'danger'
      if (this.machine.status == 'info') return 'info'
      return 'default'
    },
    settingsMachinePath: function () {
      return Routes.settings_machine_path(this.machine.id)
    },
    machineServicesPath: function () {
      return Routes.machine_services_path(this.machine.id)
    },
    machinePath: function () {
      return Routes.machine_path(this.machine.id)
    },
    truncatedName: function () {
      let max_length = 26
      if (this.machine.name.length <= 26) return this.machine.name
      return(`${this.machine.name.substring(0, max_length)}...`)
    },
    targetAddress: function () {
      if (this.machine.use_fqdn_as_target) {
        return this.machine.fqdn
      } else {
       return this.machine.ip ? this.machine.ip : this.machine.fqdn
      }
    },
    truncatedDescription: function () {
      let max_length = 50
      if (!this.machine.description) return ""
      if (this.machine.description.length <= max_length) return(this.machine.description)
      return(`${this.machine.description.substring(0, max_length)}...`)
    }
  },
  methods: {
    ...mapActions('machines', [
      'setActiveEditedMachine',
      'setOrganization',
      'removeMachine'
    ]),
    scanMachine: function () {
      if (this.scanned) return

      this.$http.post(Routes.scan_machine_path(this.machine.id))
      .then((response) => {
        this.scanned = true
        Norad.alert('Success', "Scan started", 'success')
      })
      .catch((error) => {
        Norad.alert("Failure", "Could not perform scan. Please try again later", "danger")
      })
    },
    discoverServices: function () {
      if (this.scheduleServiceDiscovery) return

      const post_headers = { headers: { 'Accept': 'application/json' } }
      let vm = this

      this.$http.post(Routes.machine_service_discoveries_path(this.machine.id), null, post_headers)
      .then((response) => {
        vm.scheduleServiceDiscovery = true
        Norad.alert('Success', response.data.message, 'success')
      })
      .catch((error) => {
        vm.scheduleServiceDiscovery = false
        Norad.alert("Failure", error.response.data.errors, "danger")
      })
    },
    editMachine: function () {
      let machine = Object.assign({}, this.machine)
      this.setActiveEditedMachine({ machine })
      $('#edit-machine-modal').modal('show')
    },
    refreshOrganizationData () {
      // this is for mainly to refresh the "machine summary data" table after machine deletion
      this.$http.get(Routes.organization_path(this.organization.id, { format: 'json' }))
      .then((response) => {
        this.setOrganization({ organization: response.data.organization })
      })
      .catch((error) => {
        Norad.alert("Failure", "Something went wrong", "danger")
      })
    },
    deleteMachine: function () {
      if (confirm("Are you sure? This will erase all configs, results, etc... for this machine")) {
        this.$http.delete(Routes.machine_path(this.machine.id, { format: 'json' }))
        .then((response) => {
          let machineId = response.data.machine.id
          this.removeMachine({ machineId })
          this.refreshOrganizationData()
        })
        .catch((error) => {
          Norad.alert("Failure", "Something went wrong deleting machine. Please try again later", "danger")
        })
      }
    }
  }
}
</script>

<style scoped>
.lacks-services-warning {
  padding-right: 4px;
}

.action-button {
  cursor: pointer;
}
</style>
