:plain
  $('#result-ignore-rule-edit-form-modal.modal.fade').html("#{j render(partial: 'edit_form', locals: { scope: @scope, rule: @rule })}")
  $('#result-ignore-rule-edit-form-modal').modal('show')
  $('button#result-ignore-rule-edit-form-save-button').click(function(e) {
    e.preventDefault();
    $('form.result-ignore-rule-edit-form').submit();
  });
