<template lang="pug">
.box.box-default
  .box-header.with-border
    h3.box-title
      i.fa.fa-signal
      |
      | Connectivity Checks
    .box-tools.pull-right
      .btn.btn-box-tool
        i#connectivity-check-tooltip.fa.fa-question-circle(
          data-placement="right"
          data-toggle="tooltip"
          title="Connectivity checks determine if this machine is reachable for tests.\
            For Ping connectivity checks to pass, the machine must be reachable via ICMP Echo or have accessible\
            services added on the Services page.\
            For SSH connectivity checks to pass, the machine must have a valid SSH key assigned or its \
            organization must be configured to use its Relay SSH key.")

      button.btn.btn-box-tool(data-widget='collapse' type='button')
        i.fa.fa-minus
  .box-body
    table.table
      thead
        tr
          th.col-md-1 Type
          th.col-md-1.text-center Status
          th.col-md-7.text-center Status Details
          th.col-md-2.text-center Last ran
          th.text-right Actions
      tbody
        connectivity-check(
          :machine_id="machine_id"
          "type"="ping"
        )
        connectivity-check(
          :machine_id="machine_id"
          "type"="ssh"
        )
</template>

<script>
import ConnectivityCheck from './connectivity_check.vue'

export default {
  mounted: function() {
    this.$nextTick(() => {
      $('#connectivity-check-tooltip').tooltip({ container: 'body' })
    })
  },
  props: ['machine_id'],
  components: {
    ConnectivityCheck
  }
}
</script>

<style>
</style>
