.container-fluid
  .row
    .col-sm-6.col-xs-6
      %b
        Requirement Group
    .col-sm-6.col-xs-3
      %b
        Actions
  - org.enforcements.each do |enforcement|
    .row.req-group{ style: 'padding: 5px 0px;', 'data-enforcement' => enforcement.id }
      .col-sm-6.col-xs-6.req-group-name
        %a.req-list-toggle{ href: '#', style: 'margin-right: 5px;' }
          %i.fa.fa-plus-circle
        = enforcement.requirement_group_name
      .col-sm-6.col-xs-3.req-group-actions
        :ruby
          classes = 'btn btn-xs btn-danger'
          disable_content = '<i class="fa fa-spinner fa-spin"></i>'
          confirm_msg = 'Are you sure you want to remove this requirement group?'
        = link_to 'Remove', enforcement_path(enforcement), class: classes, method: :delete, remote: true, data: { 'disable_with' => disable_content, confirm: confirm_msg }
    .row.req-list{ style: 'display: none;', 'data-enforcement' => enforcement.id }
      .col-md-12
        = render 'requirements/requirements_list', target: org, enforcement: enforcement, requirements: org.requirements
