.modal-dialog
  = form_tag security_container_config_path(config.id), method: :put, remote: true, id: 'security-container-config', class: 'form-horizontal'
  .modal-content
    .modal-header
      Security Container Config
      %button.close{ 'data-dismiss': 'modal' }
        %span &times;
    .modal-body
      - config.values.each do |key, val|
        .form-group
          %label.control-label.col-sm-3
            = key
          .col-sm-8
            - input_type = key =~ /password/i ? 'password' : 'text'
            %input.form-control{ type: input_type, name: "values[#{key}]", value: val }
    .modal-footer
      %button.btn.btn-default{ "data-dismiss": 'modal' } Close
      %button.btn.btn-default.update-config
        Update Config
