- if @scc.blank?
  :plain
    Norad.alert('Warning', 'You cannot delete that config!', 'danger');
- else
  :ruby
    scc_path = j(security_container_config_path(@scc))
    sc_id = @scc.security_container_id.to_i
    req_selector = "container_ids%5B%5D=#{j(sc_id.to_s)}"
  :plain
    $('a[href="#{scc_path}"]').closest('tr').remove();
    $('a[href*="#{req_selector}"]').text('Create Config').toggleClass('btn-default btn-success').removeClass('disabled');
- if @scc.configurable.can_scan_be_disabled?
  :plain
    $('.scan-machine').addClass('disabled');
    $('.scan-machine').attr('title', 'Scanning not available until security tests have been added.');
