.modal-dialog
  .modal-content
    .modal-header
      #{schedule.new? ? 'New' : 'Edit'} Schedule
      %button.close{ 'data-dismiss': 'modal' }
        %span &times;
    .modal-body
      = form_for schedule, html: { class: 'form-horizontal schedule-form' } do |f|
        .col-sm-8
          = f.select :frequency, %w(Daily Mondays Tuesdays Wednesdays Thursdays Fridays Saturdays Sundays)
          at
          = f.select :padded_hour, (1..12).map { |n| format('%02d', n) }
          \:
          = f.select :padded_minute, (0..59).map { |n| format('%02d', n) }
          = f.select :am_pm, %w(AM PM)
          = hidden_field_tag :association_id, association_id
          UTC
      &nbsp;
    .modal-footer
      %button.btn.btn-default{ 'data-dismiss': 'modal' } Close
      %button.btn.btn-primary#schedule-form-save-button Save
