%table.table.table-hover
  %thead
    %th Frequency
    %th Time
    %th Actions
  %tbody
    %tr
      %td.col-md-1
        = schedule.frequency
      %td.col-md-1
        = schedule.at_time
      %td.schedule-actions
        - if can_modify
          = link_to edit_path, title: 'Schedule Settings', remote: true, id: 'edit-schedule' do
            %i.fa.fa-gear
          = link_to destroy_path, method: :delete, data: { confirm: 'Are you sure you want to unschedule this recurring scan?' }, title: 'Delete Schedule', id: 'remove-schedule' do
            %i.fa.fa-remove
