%tr{ data: { container: { id: container.id } } }
  - if show_repository_details?(repository)
    %td
      %a{ href: '#',
          title: 'Click to show more details',
          data: { toggle: :collapse, target: "#container-details-#{container.id}" },
          aria: { expanded: :false, controls: "container-details-#{container.id}" } }
        %i.fa.fa-caret-right
  %td= image_name(container.name)
  %td= tag_name(container.name)
  - if show_repository_details?(repository)
    %td= container.service_requirements
    %td= format_timestamp(container.created_at)
    %td= format_timestamp(container.updated_at)
    - if repository.authorizer&.fetch(:can_edit?)
      %td
        = link_to repository_security_container_path(container),
          remote: true,
          method: :delete,
          class: 'remove',
          data: { confirm: 'Are you sure?' } do
          %i.fa.fa-remove

- if show_repository_details?(repository)
  %tr
    %td{ colspan: 7 }
      .collapse{ id: "container-details-#{container.id}" }
        = render 'repository_security_containers/details', container: container
