- if @error_msg.present?
  :plain
    $('#container-form-errors').html("#{j @error_msg}")
    $('#container-form-errors').removeClass('hide')
- else
  :plain
    $('#container-form-modal').modal('hide')
    Norad.alert('Success', 'Security Test successfully created!', 'success self-destructable')
    Norad.destruct_alerts_in(2000)
    $('#containers-table').removeClass('hide')
    $('#no-containers').addClass('hide')
    $('#containers-table-body').append(
      "#{j render('container_rows', containers: @containers, repository: @repository)}"
    )
