%section.content{ style: 'min-height: 0px;' }
  .box.box-default
    .box-header.with-border
      %i.fa.fa-pencil
      %h3.box-title
        Edit Organization
      .box-tools.pull-right
        %button.btn.btn-box-tool{ 'data-widget' => 'collapse', type: 'button' }
          %i.fa.fa-minus
    .box-body
      = form_for org, html: { id: 'edit-organization', class: 'form-horizontal' } do |f|
        .form-group
          .col-md-2
            %label.control-label Name
          .col-md-6
            %span.help-block= organization_name_help_string
            = f.text_field :uid, class: 'form-control'
        %hr
        .form-group
          .col-md-12
            %button.btn.btn-success{ type: :submit } Save
