.row.organization-errors
  .col-md-12
    .box.box-danger
      .box-header.with-border
        %h3.box-title
          %i.fa.fa-compass
          Organization Status
        .box-tools.pull-right
          %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
            %i.fa.fa-minus
      .box-body
        %table.table.table-hover
          %thead
            %tr
              %th Error Type
              %th Message
          %tbody
            - org.organization_errors.each do |e|
              %tr
                %td= titleize(e.type)
                %td= e.message
