= form_tag organization_iaas_configuration_path(iaas_config.organization_id), method: 'post', class: 'form-horizontal' do
  .form-group
    .col-md-2
      %label.control-label Provider
    .col-md-6
      %select.form-control#iaas-provider-field{ name: 'iaas_configuration[provider]' }
        - IaasConfiguration::VALID_PROVIDERS.each do |p|
          %option{ value: p.downcase }= p
  .form-group
    .col-md-2
      %label.control-label User
    .col-md-6
      %span.help-block The User ID or Key ID for your account
      %input.form-control{ type: 'text', name: 'iaas_configuration[user]' }
  .form-group
    .col-md-2
      %label.control-label Key
    .col-md-6
      %span.help-block The API Key or Password for your account
      %input.form-control{ type: 'password', name: 'iaas_configuration[key]' }
  .form-group
    .col-md-2
      %label.control-label Region
    .col-md-6
      %input.region-field.form-control{ type: 'text', disabled: 'disabled', name: 'iaas_configuration[region]' }
  .form-group
    .col-md-2
      %label.control-label Project
    .col-md-6
      %input.project-field.form-control{ type: 'text', name: 'iaas_configuration[project]' }
  .form-group
    .col-md-2
      %label.control-label Authentication URL
    .col-md-6
      %span.help-block The endpoint to be used for authentication
      %input.auth-field.form-control{ type: 'text', name: 'iaas_configuration[auth_url]' }
  %hr
  .form-group
    .col-md-12
      %input.btn.btn-success{ type: 'submit', value: 'Save' }
