.row
  .col-md-12
    .box
      .box-header.with-border
        %h3.box-title
          %i.fa.fa-compass
          Organization Status
        .box-tools.pull-right
          %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
            %i.fa.fa-minus
      .box-body.text-center
        %h4 This organization doesn't have any machines yet
        %p
          Create one
          = link_to "here", organization_machines_path(org.id)
