- if @notification_channels.present?
  %table.table
    %thead
      %tr
        %th.col-md-1 Enabled
        %th.col-md-2 Event
        %th Description
    %tbody
      - @notification_channels.each do |channel|
        %tr{ 'data-id': channel.id }
          %td
            = form_for channel, remote: true do |f|
              = f.check_box :enabled, class: 'notification_channel_enabled'
          %td= channel.event&.titleize
          %td= channel.description
- else
  %p No notifications have been configured.
