.row
  .col-md-12
    .box.box-success
      .box-header.with-border
        %h3.box-title
          %i.fa.fa-compass
          Organization Status
        .box-tools.pull-right
          %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
            %i.fa.fa-minus
      .box-body.text-center
        %h4 You are ready to use Norad!
