%section.content{ style: 'min-height: 0px;' }
  .modal.fade#result-export-queue-form-modal
  .box.box-default
    .box-header.with-border
      %i.fa.fa-list-ol
      %h3.box-title
        Result Export Locations
      .box-tools.pull-right
        - if current_user_admin_for_org?(org)
          = link_to new_organization_result_export_queue_path(org), class: 'btn btn-xs btn-box-tool', remote: true, id: 'add-result-export-queue' do
            %i.fa.fa-plus-circle
            Add Result Export Location
        .btn.btn-box-tool
          - msg = 'Result Export Locations represent issue trackers, such as Jira, where Norad results may be exported.'
          %i.fa.fa-question-circle{ 'data-toggle': 'tooltip', title: msg, 'data-placement': 'left' }
        %button.btn.btn-box-tool{ 'data-widget': 'collapse', type: 'button' }
          %i.fa.fa-minus
    .box-body
      %table.table#queue-table
        %thead
          %th.col-md-1 ID
          %th.col-md-2 Title
          %th.col-md-1 Queue Type
          %th.text-center.col-md-1 Auto-Sync
          %th.text-center.col-md-1 Action
        %tbody
        - result_export_queues.each do |queue|
          %tr{ 'data-result-export-queue-id' => queue.id }
            %td= queue.id
            %td= queue.title
            %td= format_queue_type(queue.type)
            %td.text-center= queue.auto_sync
            %td.text-center
              - if current_user_admin_for_org?(org)
                = link_to send(queue.edit_resource_path, queue.id), title: 'View/Edit', remote: true do
                  %i.fa.fa-edit.action-icon
                = link_to send(queue.resource_path, queue.id), method: :delete, class: 'delete-action', title: 'Delete', remote: true do
                  %i.fa.fa-close.action-icon
              - else
                No Actions Available
