.modal.fade#ssh-key-pair-form-modal
%section.content{ style: 'min-height: 0px;' }
  .box.box-default
    .box-header.with-border
      %i.fa.fa-key
      %h3.box-title
        SSH Key Pairs
      .box-tools.pull-right
        = link_to new_organization_ssh_key_pair_path(org, slug: org.slug), class: 'btn btn-xs btn-box-tool', remote: true, id: 'add-new-ssh-key-pair' do
          %i.fa.fa-plus-circle
          Add SSH Key
        .btn.btn-box-tool
          - msg = 'SSH Key Pairs added here can be selected in the Machine Settings page.'
          %i.fa.fa-question-circle{ 'data-toggle': 'tooltip', title: msg, 'data-placement': 'left' }
        %button.btn.btn-box-tool{ 'data-widget': 'collapse', type: 'button' }
          %i.fa.fa-minus
    .box-body
      - if ssh_key_pairs.blank?
        %h4.text-center
          No SSH Key Pairs have been added to this organization.
        %p.text-center
          = link_to 'Click Here', new_organization_ssh_key_pair_path(org, slug: org.slug), class: 'click-here-link', title: 'Add New SSH Key', remote: true
          to add one now.
      - else
        - ssh_key_pairs.each do |key|
          .ssh-key-box
            .row.ssh-key-row
              .col-md-2
                %span.ssh-key-header ID:
                = key.id
              .col-md-2
                %span.ssh-key-header Name:
                = key.name
              .col-md-1
              .col-md-6.text-left
                %span.ssh-key-header Description:
                - if key.description.present?
                  = render partial: 'application/truncated_description', locals: { description: key.description, length: 50 }
                - else
                  %i.faded-text No Description Given
              .col-md-1.text-right
                :ruby
                  classes = 'btn btn-danger btn-xs delete-ssh-key-pair'
                  confirm_msg = 'Are you sure you want to delete this SSH Key Pair?'
                  disable_content = '<i class="fa fa-spinner fa-spin"></i>'
                  delete_data = { confirm: confirm_msg, disable_with: disable_content }
                = link_to 'Remove', ssh_key_pair_path(key), method: :delete, class: classes, data: delete_data, title: 'Delete SSH Key Pair', remote: true
            .row.ssh-key-row
              .col-md-12
                %span.ssh-key-header
                  Fingerprint:
                  %i.fa.fa-question-circle.help-icon{ 'data-toggle': "modal", 'data-target': "#fingerprint-command-modal" }
                .ssh-key-fingerprint
                  = key.key_signature
