- content_for :sidebar do
  = render 'sidebar', org: @org

%section.content-header
  - small_title = format_timestamp(@machine_summary.latest_assessment_created_at)
  = render 'assessable/header', large_title: "Scan #{@scan_title}", small_title: small_title
  = render 'application/flash_messages', self_destructable: true

%section.content
  .box.box-default
    .box-header.with-border
      %h3.box-title
        %i.fa.fa-bar-chart
          Results
      %span.pull-right
        %strong.small{ style: 'margin-right: 10px;' }
          Grouped By:
        %span.btn-group.btn-group-xs{ 'data-toggle': :buttons }
          %label.btn.btn-primary.active
            %input.group-by-button{ type: 'radio',
              name: 'options',
              autocomplete: 'off',
              'data-results-target': '.machine-view',
              checked: '' } Machine
          %label.btn.btn-primary#requirement-toggle
            %input.group-by-button{ type: 'radio',
              name: 'options',
              autocomplete: 'off',
              'data-results-target': '.requirement-view' } Requirement

    .box-body
      .row
        .col-md-12.result-views
          - if @machine_summary&.machines.blank?
            %p No assessments were completed.
          - else
            = render 'organizations/results/machine_view', scan_id: @scan_id, machine_summary: @machine_summary
            = render 'organizations/results/requirement_view',
              scan_id: @scan_id,
              assessments: @assessments,
              org_id: @org.to_param,
              export_queues_present: @export_queues_present
