- admin_status = current_user_admin_for_org?(@org)
- content_for :sidebar do
  = render 'sidebar', org: @org
%section.content-header
  = render 'application/organization_header', org: @org, menu_name: 'Organization Settings'
  = render 'application/flash_messages'
  = render 'application/fingerprint_modal'
= render partial: 'membership_settings', locals: { org: @org, memberships: @memberships, admin_status: admin_status }
= render partial: 'result_export_queues', locals: { org: @org, result_export_queues: @result_export_queues }
- if admin_status
  = render partial: 'ssh_key_pairs', locals: { org: @org, ssh_key_pairs: @ssh_key_pairs }
  = render partial: 'notifications'
  = render partial: 'iaas_configuration', locals: { org: @org, iaas_config: @iaas_config }
  = render partial: 'edit_organization', locals: { org: @org }
  = render partial: 'delete_organization', locals: { org: @org }
