.docker-relay {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  border-left: 3px solid #d2d6de;
  margin-bottom: 25px;
  border-bottom: 1px solid #f5f5f5;

  > .relay-row {
    padding: 3px 0px;
    margin-bottom: 15px;
  }

  span.relay-header {
    margin-right: 5px;
    font-weight: bold;
  }

  .relay-fingerprint {
    display: inline-block;
    background-color: #e8e8e8;
    font-family: monospace;
    padding: 0px 5px;
    border-radius: 2px;
  }
}
