.machine-info-detail {
  padding-left: 10px;
}

.result-row {
  margin-top: 5px;
}

.result-description {
  margin-top: 10px;
}

.result-output {
  margin-top: 5px;
}

.circle-success {
  color: #00a65a;
}

.circle-warning {
  color: #f39c12;
}

.circle-danger {
  color: #f56954;
}

.circle-default {
  color: #d2d6de;
}

.circle-info {
  color: #00c0ef;
}

td.machine-actions {
  font-size: 18px;

  a {
    margin-right: 10px;

    .fa-remove {
      color: #E00000;
    }
  }

  .discovery-in-progress {
    color: #CCCCCC;
    cursor: progress;
  }
}

.service-results-header {
  font-size: 12pt;
  background: #e2e2e2;
  padding: 3px 8px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 4px 0px #efefef;
}

.service-results {
  padding-left: 10px;
  margin-right: 10px;
}

.result-statistics-header {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 20px 0px 10px 0px;
  background-color: #fbfbfb;
  padding: 8px 10px 13px 10px;

  .result-statistics-header-item{
    font-size: medium;
    padding: 5px 10px 15px 15px;

    .stat-label-spacing {
      padding: 5px;

      .stat-emphasis{
        color: black;
        font-size: small;
        background-color: white;
        mix-blend-mode: screen;
        border-radius: 15px;
        padding: 0px 5px 0px 5px;
        margin: 10px 0px 5px 5px;
      }

      .test-stat-emphasis{
        mix-blend-mode: difference;
      }
    }
  }
}

.small-result-statistics-header {
  margin: -2px 30px 0px 0px;

  .tests-completed-spacing{
    margin: 0px 50px 0px 0px;
  }

  .result-statistics-header-item{
    font-size: small;
    padding: 5px 5px 15px 5px;

    .stat-label-spacing {
      padding: 5px;

      .stat-emphasis{
        color: black;
        font-size: tiny;
        background-color: white;
        mix-blend-mode: screen;
        border-radius: 15px;
        padding: 0px 3px 0px 3px;
        margin: 5px 0px 3px 3px;
      }

      .test-stat-emphasis{
        mix-blend-mode: difference;
      }
    }
  }
}

.error-text {
  color: #dd4b39;
}

.machine-results-warning-description {
  padding: 0% 20% 0% 20%;
}

/* Machine Header */
.additional-header-info {
  color: #888888;
  margin: 0px;
  font-size: large;
  display: inline-block;
}

.machine-header-subheading {
  margin: 5px 0 0 0;
}
