.box.box-default#machine-info
  .box-header.with-border
    %h3.box-title
      %i.fa.fa-laptop
      Machine
    .box-tools.pull-right
      - if machine.security_tests_present?
        = link_to scan_machine_path(machine), class: "btn btn-xs btn-box-tool scan-machine", method: :post, remote: true, 'data-disable-with': 'Starting...' do
          %i.fa.fa-play-circle
          Scan
      - else
        %span{ 'data-toggle' => 'tooltip', title: 'You need to add tests before attempting to scan', 'data-placement' => 'top' }
          %a.btn.btn-xs.btn-box-tool.scan-machine.disabled
            %i.fa.fa-play-circle
            Scan
      %button.btn.btn-box-tool{ 'data-widget': 'collapse' }
        %i.fa.fa-minus
  .box-body
    %div
      %b
        Name:
    .machine-info-detail
      = render 'machines/no_services_indicator', machine: machine
      #{machine.name}
    %hr.info-spacer
    %div
      %b
        Scan Target:
      .pull-right
        %i.btn-box-tool.fa.fa-question-circle.help-icon{ 'data-toggle': 'tooltip', title: "The preferred scan target. Will be defaulted to the machine's IP, but it can be set to the FQDN as well if you like.", 'data-placement': 'top' }
    - if machine.ip.present? && machine.fqdn.present?
      .machine-info-detail.underline{ 'data-toggle': 'tooltip', 'data-html': 'true', title: "<div class='tooltip-container'><div><b>IP:</b></div> <div>#{h machine.ip}</div> <br /> <div><b>FQDN:</b></div> <div>#{h machine.fqdn}</div></div>", 'data-placement': 'top' }
        = machine.target_address
    - else
      .machine-info-detail= machine.target_address
    %hr.info-spacer
    %div
      %b
        Description:
    .machine-info-detail.text-left
      = render partial: 'application/truncated_description', locals: { description: machine.description, length: 100 }
