.modal-dialog
  .modal-content
    .modal-header
      New Machine
      %button.close{ 'data-dismiss': 'modal' }
        %span &times;
    .modal-body
      - path = organization_machines_path(org)
      - machine = Machine.build(organization_id: org.id, ip: nil, fqdn: nil, name: nil, description: nil, use_fqdn_as_target: nil)
      = form_for machine, url: path, html: { class: 'machine-new-form' } do |f|
        .form-group
          %label Machine IP
          = f.text_field :ip, class: 'form-control'
        .form-group
          %label Machine FQDN
          = f.text_field :fqdn, class: 'form-control'
        .checkbox
          %label
            = f.check_box :use_fqdn_as_target
            Use FQDN as Target
        .form-group#machine-name
          %label Machine Name
          %span.help-block A name will be generated for you if this field is left blank.
          = f.text_field :name, class: 'form-control', maxlength: 36
        .form-group
          %label Machine Description
          = f.text_area :description, class: 'form-control'
        .form-group
          %input{ type: 'text', hidden: true, name: 'organization_token', value: org.token }
    .modal-footer
      %button.btn.btn-default{ "data-dismiss": 'modal' } Close
      %button.btn.btn-primary#create-machine-submit-button Submit
