- if machine.services.blank?
  = link_to machine_services_path(machine) do
    %i.circle-warning.fa.fa-exclamation-triangle{ 'data-toggle' => 'tooltip', title: 'This machine lacks associated services, that is typically necessary in order for scans to properly run', 'data-placement' => 'right' }
