.box.box-default
  .box-header.with-border
    %h3.box-title
      %i.fa.fa-key
      SSH Key Pair
    .box-tools.pull-right
      .btn.btn-box-tool
        = render 'tooltip', message: 'New SSH Key Pairs must be added in Organization Settings and then selected here. They are required for tests that need authentication on a machine.'
      %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
        %i.fa.fa-minus
  .box-body
    - if machine.ssh_key_pair.blank?
      = render 'ssh_key_pair_form', org: org, machine: machine
    - else
      - kp = machine.ssh_key_pair
      .ssh-key-box
        .row.ssh-key-row
          .col-md-1
            %span.ssh-key-header ID:
            = kp.id
          .col-md-2
            %span.ssh-key-header Name:
            = kp.name
          .col-md-7.text-left
            %span.ssh-key-header Description:
            - if kp.description.present?
              = render partial: 'application/truncated_description', locals: { description: kp.description, length: 50 }
            - else
              %i.faded-text No Description Given
          .col-md-2.text-right
            - disable_content = '<i class="fa fa-spinner fa-spin"></i>'
            - data = { disable_with: disable_content }
            = link_to 'Unassign Key Pair', machine_ssh_key_pair_assignment_path(machine), method: 'delete', class: 'btn btn-xs btn-danger', data: data
        .row.ssh-key-row
          .col-md-12
            %span.ssh-key-header
              Fingerprint:
              %i.fa.fa-question-circle.help-icon{ 'data-toggle': "modal", 'data-target': "#fingerprint-command-modal" }
            .ssh-key-fingerprint-condensed
              = kp.key_signature
