.row
  .col-md-3.col-sm-6.col-xs-12
    .info-box.info-box-sm
      %span.info-box-icon.bg-aqua
        %i.fa.fa-laptop
      .info-box-content
        %span.info-box-text
          Machines
        %span.info-box-number#machine-count
          = org.machine_count
  .col-md-3.col-sm-6.col-xs-12
    .info-box.info-box-sm
      %span.info-box-icon.bg-green
        %i.fa.fa-thumbs-o-up
      .info-box-content
        %span.info-box-text
          Passing
        %span.info-box-number
          = org.machine_assessment_summary['passing']
  .col-md-3.col-sm-6.col-xs-12
    .info-box.info-box-sm
      %span.info-box-icon.bg-yellow
        %i.fa.fa-exclamation-triangle
      .info-box-content
        %span.info-box-text
          Erroring / Warning
        %span.info-box-number
          = org.machine_assessment_summary['erroring'] + org.machine_assessment_summary['warning']
  .col-md-3.col-sm-6.col-xs-12
    .info-box.info-box-sm
      %span.info-box-icon.bg-red
        %i.fa.fa-thumbs-o-down
      .info-box-content
        %span.info-box-text
          Failing
        %span.info-box-number
          = org.machine_assessment_summary['failing']
