:plain
  $('#machine-edit-form-modal.modal.fade').html("#{j render(partial: 'edit_form')}")
  $('#machine-edit-form-modal').modal('show')
  $('button#machine-edit-form-save-button').click(function(e) {
    e.preventDefault();
    $('form.machine-edit-form').submit();
  });
