- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1{ style: 'display: inline-block' }
    %span{ style: 'color: gray;' }
      Machine
%section.content
  .callout.callout-info
    %b The machine you are looking for does not exist!
