.modal.modal-info.fade.display-none#fingerprint-command-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } &times;
        %h4.modal-title
          Command used to generate Private Key Fingerprints
      .modal-body
        %h3 For DSA, RSA, and ECDSA keys:
        %p
          %pre.shell-command
            %code
              openssl rsa -in &lt;PATH/TO/KEY&gt; -pubout -outform DER | openssl sha256 -c

        %h3 For ED25519 keys:
        %p
          %pre.shell-command
            %code
              ssh-keygen -y -f &lt;PATH/TO/KEY&gt; | cut -d' ' -f2 | openssl base64 -d | openssl sha256 -c
