- if flash.keys.present?
  %div{ class: ('self-destructable' if local_assigns.fetch(:self_destructable, false)), style: 'margin-top: 10px;' }
    - flash.each do |key, value|
      .row
        .col-md-12
          .callout.alert.alert-dismissable{ class: "callout-#{key}" }
            %button.close{ type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => true }
              &times;
            = value
