%header.main-header
  %a.logo{ href: '/' }
    %span.logo-mini
      %b N
    %span.logo-lg
      NORAD
  %nav.navbar.navbar-static-top{ role: 'navigation' }
    %a.sidebar-toggle{ href: '#', 'data-toggle' => 'offcanvas', role: 'button' }
      %span.sr-only
        Toggle navigation
    / Navbar Right Menu
    .navbar-custom-menu
      %ul.nav.navbar-nav
        / User Account: style can be found in dropdown.less
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#' }
            %img.user-image{ alt: 'User Image', src: '/norad-img.jpg' }
              %span.hidden-xs= current_user.uid
          %ul.dropdown-menu
            / User image
            %li.user-header
              %img.img-circle{ alt: 'User Image', src: '/norad-img.jpg' }
                %p
                  = current_user.uid
                  %small
                    #{current_user.firstname} #{current_user.lastname}
            / Menu Footer
            %li.user-footer
              .pull-left
                %a.btn.btn-default.btn-flat{ href: user_path(current_user) } User Settings
              .pull-right
                = link_to 'Sign out', logout_path, method: :delete, class: 'btn btn-default btn-flat'
