-# haml-lint:disable InstanceVariables
- content_for :organization_configuration_errors do
  - if @org&.configuration_errors?
    .organization-errors-and-warnings
      %strong
        %i.fa.fa-exclamation-triangle
        Warning!
      %span{ style: 'margin-left: 5px;' }
        = organization_errors_message(@org.organization_errors.count)
      %a.btn.bg-gray-light.btn-xs{ href: organization_path(@org) }
        View Error Details
-# haml-lint:enable InstanceVariables
