!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title NORAD
    = stylesheet_pack_tag 'norad_vendor', media: 'all'
    = javascript_pack_tag 'norad_vendor'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.skin-blue.sidebar-mini
    - if @broadcast_message
      .broadcast-message{ class: "alert-#{@broadcast_message.severity}" }
        %h4
          %i.fa.fa-bullhorn
          = @broadcast_message.text
    .wrapper
      %img{ src: '/beta.png', style: 'position: absolute; width: 48px; z-index: 9999;' }
      = render 'navbar', current_user: @current_user
      = yield :sidebar
      .content-wrapper{ style: 'min-height: 916px;' }
        = yield :organization_configuration_errors if content_for?(:organization_configuration_errors)
        = content_for?(:nested_layout) ? yield(:nested_layout) : yield
      = render 'footer'
    = javascript_pack_tag 'norad_src'
